<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="baseURL" value="https://badoo.com/"/>
    <add key="browserName" value="Chrome"/>
    <add key="explicitTimeout" value="10"/>
    <add key="implicitTimeout" value="10"/>
    <add key="email" value="zhenya113@mail.ru"/>
    <add key="password" value="Vasnovpar"/>
  </appSettings>
</configuration>